@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    width:100%;
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
}

/* Header */

.header-section {
	padding:0 0 15px 0;
}

.navbar-light {
	background-color: #4e88ba !important;
	height: 50px;
	padding-top: 4px;
	
}

.navbar-brand {
	color: #ffffff !important;
}
/* Filters */

.selection{
	padding: 0 15px 15px 15px;
}

#autocomplete {
	width: 100%;
}

#country {
	width: 100%;
}

label{
	margin: 0;
}

/* Map */

#map {
	height: 600px;
	margin-right: 15px;
}

/* Map pop-up */

.hotelIcon {
	width: 50px;
	height: 50px;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}

/* Results table */

#listing {
	padding: 15px 15px 15px 15px;
}

table {
	font-size: 12px;
}

#resultsTable {
	border-collapse: collapse;
	width: 100%;
}
.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}

td:hover {
	cursor:pointer;
}

/* footer */

footer{
	height: 50px;
	background-color: #4e88ba;
}

/* makes the footer stay at the bottom of the page
 (instead of having a block of empty space below it on larger screens until the results table is displayed) */
.all-sections {
	min-height: calc(100vh - 115px);
}

/* Media queries */
@media(max-width:767px){
	.map-container{
		padding-left: 15px;
	}
}

@media(min-width:768px){
	.selection, .filters-section{
		padding-right: 0;
	}

	.map-container{
		padding-left: 0;
	}
}

