body {
    width:100%;
    overflow-x:hidden;
}

/* Header */

.header-section {
	padding:0;
}

/* Filters */

.selection{
	padding: 0 15px 15px 15px;
}

#autocomplete {
	width: 100%;
}

#country {
	width: 100%;
}

/* Map */

#map {
	height: 600px;
	margin-right: 15px;
}

.hotelIcon {
	width: 50px;
	height: 50px;
}

/* Results table */

#listing {

}

table {
	font-size: 12px;
}

#resultsTable {
	border-collapse: collapse;
	width: 240px;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}

.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}

table tr td:nth-child(3) {
	width: 200px;
}

/* Media queries */
@media(max-width:767px){
	.map-container{
		padding-left: 15px;
	}
}

@media(min-width:768px){
	.selection, .filters-section{
		padding-right: 0;
	}

	.map-container{
		padding-left: 0;
	}
}
