@import url('https://fonts.googleapis.com/css?family=Roboto|Montserrat:400:500:600:700&display=swap');

body {
    width:100%;
	overflow-x:hidden;
	font-family: 'Roboto', sans-serif;
}

/***** Header *****/

.header-section {
	padding:0 0 15px 0;
}

.navbar-light {
	background-color: #4e88ba !important;
	height: 50px;
	padding-top: 4px;
	
}

.navbar-brand {
	color: #ffffff !important;
	text-transform: uppercase;
	font-family: 'Montserrat';
	font-weight: 700;
}
/***** Selection / Filters *****/

/* container for selection and filters */
.selection{
	padding: 0 15px 15px 15px;
}

/* country selection and city fields */
#country, #autocomplete {
	width: 100%;
}

/* country selection */
select{
	height: 30px;
	color: #7a7a7f;
}
	select option {
		color: black; 
	}
	option[value=""][disabled] {
		display: none;
		color: rgb(134, 134, 134);
	}

.selection-city{
	padding: 15px 0 15px 0;
}

/* filter header */
.heading {
	padding-left: 2px;
	font-family: 'Montserrat';
	font-size: 17px;
}

/* radio buttons and text container */
label{
	margin: 0;
	padding: 3px 0 0 2px;
}

/* text next to radio buttons */
label > span {
	padding-left: 5px;
	font-size: 15px;
}

/* Map */

#map {
	height: 600px;
	margin-right: 15px;
}

/* Map pop-up */

.pop-up{
	display: none;
}

.hotelIcon {
	width: 50px;
	height: 50px;
}

.iw_table_row {
	height: 18px;
}

.iw_attribute_name {
	font-weight: bold;
	text-align: right;
}

.iw_table_icon {
	text-align: right;
}

/* Results table */

#listing {
	padding: 15px 15px 15px 15px;
}

table {
	font-size: 12px;
}

#resultsTable {
	border-collapse: collapse;
	width: 100%;
}
.placeIcon {
	width: 20px;
	height: 34px;
	margin: 4px;
}

td:hover {
	cursor:pointer;
}

/* footer */

footer{
	height: 50px;
	background-color: #4e88ba;
}

/* makes the footer stay at the bottom of the page
 (instead of having a block of empty space below it on larger screens until the results table is displayed) */
.all-sections {
	min-height: calc(100vh - 115px);
}

/* Media queries */
@media(max-width:767px){
	.map-container{
		padding-left: 15px;
	}
}

@media(min-width:768px){
	.selection, .filters-section{
		padding-right: 0;
	}

	.map-container{
		padding-left: 0;
	}
}

